*, html {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    background-color: #5CDB94;
}

a:any-link {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #1A535C;
    text-transform: uppercase;
}

#content {
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-flow: column nowrap;
}

header {
    display: flex;
    flex-flow: row nowrap;
    padding: 80px 94px;
}

header>h2 {
    font-size: 2.55em;
    white-space: nowrap;
}

#subtext {
    font-size: 18px;
    margin: 0px 5px;
}

nav {
    margin-left: auto;
    align-self: center;
}

nav>ul>li {
    display: inline-block;
    padding: 0 10px;
}

#social {
    text-align: center;
    margin-top: 100px;
}

#social>li {
    margin: 10px 0;
}

@media only screen and (max-width: 1176px) {
    header>h2 {
        font-size: 1.8em;
    }
}

@media only screen and (max-width: 954px) {
    header {
        padding: 50px 40px;
    }

    header>h2 {
        font-size: 1.7em;
    }

    #subtext {
        font-size: .4em;
    }

    li {
        font-size: .8em;
    }
}

@media only screen and (max-width: 639px) {
    header {
        flex-flow: column wrap;
        text-align: center;
    }

    header>h2 {
        font-size: 2.6em;
    }

    #subtext {
        display: block;
        font-size: .44em;
    }

    nav {
        margin: 10px 0 0 0;
    }
}

@media only screen and (max-width: 481px) {
    header>h2 {
        font-size: 3.1em;
    }

    #subtext {
        font-size: .27em;
    }

    nav {
        margin-top: 13px;
    }
}

@media only screen and (max-width: 393px) {
    header>h2 {
        font-size: 2.1em;
    }

    #subtext {
        font-size: .32em;
    }

    header>nav {
        margin-top: 20px;
    }
}